* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-size: 18px;
  background-color: #faf9f2;
}

/*---------------------Header Detialing---------------------*/

.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	background-color: #f2eed8;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #5D6063;
}

.nav-menu-option {
	display: inline;
	color: #f2eed8;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
	text-emphasis: bold;
	padding: 20px;
	background-color: #f2eed8;
	width: auto;
  height: 100px;
	box-sizing: border-box;
	margin: inherit;
}

/*---------------------Page Detailing---------------------*/

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.section {
  display: flex;
  justify-content: center;
  border: 1px solid #5D6063;
  background-color: #fffefa;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 5px;
  margin: 5px;
}

/*---------------------Content Detailing---------------------*/

h2 {
	padding: 10px;
	text-decoration-line: underline;
}

p {
	margin-left: 20px;
}

ul {
	margin-left: 40px;
	padding: 10px;
}

/*---------------------Media Queries---------------------*/

@media screen and (min-width: 961px) {
  .section {
    width: 40%;
  }
}


/*---------------------Fun Button---------------------*/

/*
.big-button {
	display: block;
	text-decoration: none;

	color: #FFF;
	background-color: #faed32;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius: 5px;

	width: 250px;
	margin: 20px auto;
}

.big-button:link,
.big-button:visited {
	color: #FFF;
  background-color: #faed32;
}

.big-button:hover,
.big-button:visited:hover {
	color: #FFF;
  background-color: #FFF787;
}
*/
